@page "/epics"
@using GitManager.Dto.Epic
@using GitManager.Interface

@inject IEpicService EpicService
@inject NavigationManager NavigationManager

@* <h3>epics for Project @projectId</h3> *@

@* <a href="/epics/create/@projectId" class="btn btn-primary">Create New epic</a> *@

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>State</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (EpicsList.Count() >= 1)
            @foreach (var epic in EpicsList)
            {
                <tr>
                    <td>@epic.EpicId</td>
                    <td>@epic.Title</td>
                    <td>@epic.State</td>
                    <td>
                        @* <a href="/issues/@groupid/@epic.EpicIid" class="btn btn-info">View</a> *@
                        @* <a href="/issues/edit/@groupid/@epic.EpicIid" class="btn btn-warning">Edit</a> *@
                        @if (epic.State.ToString() == EpicStateDto.opened.ToString())
                        {
                            <button class="btn btn-danger" @onclick="() => CloseEpic(Epic)">Close</button>
                        }
                        else if (epic.State.ToString() == EpicStateDto.closed.ToString())
                        {
                            <button class="btn btn-success" @onclick="() => OpenEpic(Epic)">Reopen</button>
                        }
                    </td>
                </tr>
            }
    </tbody>
</table>


<h3>Create New Epic for Group @groupid</h3>

<form @onsubmit="CreateEpic">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" class="form-control" @bind="Title" required />
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" class="form-control" @bind="Description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>



<h3>Edit Epic @epicIid for Project @groupid</h3>

<form @onsubmit="UpdateEpic">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" class="form-control" @bind="Title" required />
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" class="form-control" @bind="Description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>

@* <a href="/issues/@groupid/@epicIid" class="btn btn-secondary">Back to Issue</a> *@



<h3>Epic @Epic.EpicId: @Epic.Title</h3>

<div>
    <p><strong>State:</strong> @Epic.State</p>
    <p><strong>Description:</strong> @Epic.Description</p>
</div>

@* <a href="/epics/@groupid" class="btn btn-secondary">Back to List</a> *@
@* <a href="/epics/update/@groupId/@" class="btn btn-warning">Edit</a> *@