@page "/issues"
@page "/issues/{ProjectId:int}"
@using GitManager.Interface
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

@* <a href="/issues/create/@projectId" class="btn btn-primary">Create New Issue</a> *@
<h3>@(ProjectId > 0 ? $"موارد برای پروژه {ProjectId.ToString()}" : "ابتدا پروژه را جست و جو کنید")</h3>

<div class="mb-5">
    <EditForm Model="Issue" OnValidSubmit="@SearchIssues" FormName="searchIssues">
        <DataAnnotationsValidator />
        <div class="row g-3 align-items-end director">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="projectId">شناسه پروژه</label>
                    <InputNumber id="projectId" @bind-Value="Issue.ProjectId" class="form-control" placeholder="شناسه پروژه را وارد کنید" tabindex="1" required />
                    <ValidationMessage For="() => Issue.ProjectId" class="validation-message" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="stateFilter">وضعیت</label>
                    <select id="stateFilter" class="form-control" @bind="@SelectedState" tabindex="2">
                        <option value="All">همه</option>
                        <option value="Opened">فعال</option>
                        <option value="Closed">غیرفعال</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary w-100" tabindex="3">جست و جو</button>
            </div>
        </div>
    </EditForm>
</div>


<table class="table mt-3">
    <thead>
        <tr class="director">
            <th>شناسه</th>
            <th>عنوان</th>
            <th>وضعیت</th>
            <th>جزِییات</th>
        </tr>
    </thead>
    <tbody>
        @if (IssuesList != null)
        {@if(IssuesList.Count() >0){
            @foreach (var issue in IssuesList)
            {
                <tr class="director">
                    <td>@issue.IssueId</td>
                    <td>@issue.Title</td>
                    @* <td>@issue.State</td> *@
                    <td>
                        @* <a href="/issues/@ProjectId/@issue.IssueId" class="btn btn-info">View</a> *@
                        @* <a href="/issues/edit/@ProjectId/@issue.IssueId" class="btn btn-warning">Edit</a> *@
                        @if (issue.State == "opened")
                        {
                            <button class="btn btn-danger" @onclick="() => CloseIssue()">غیرفعال</button>
                        }
                        else if (issue.State == "closed")
                        {
                            <button class="btn btn-success" @onclick="() => OpenIssue()">فعالسازی</button>
                        }
                    </td>
                    <td>
                        <button @onclick="ShowEditDialog" class="btn btn-primary">مشاهده</button>
                    </td>
                </tr>
            }
        }
                }
    </tbody>
</table>

<h3>ایجاد مورد جدید برای پروژه @(ProjectId > 0 ? ProjectId.ToString() : "نا مشخص")</h3>

<form @onsubmit="CreateIssue">
    <div class="form-group director">
        <label for="title">Title:</label>
        <input type="text" id="title" class="form-control" @bind="Title" required />
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" class="form-control" @bind="Description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>



<h3>ویرایش مورد @IssueIid برای پروژه @ProjectId</h3>

<form @onsubmit="UpdateIssue">
    <div class="form-group director">
        <label for="title">Title:</label>
        <input type="text" id="title" class="form-control" @bind="Title" required />
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" class="form-control" @bind="Description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>

@* <a href="/issues/@ProjectId/@IssueIid" class="btn btn-secondary">Back to Issue</a> *@



@* <h3>Issue @Issue.IssueId: @Issue.Title</h3> *@

<div>
    @* <p><strong>State:</strong> @Issue.State</p> *@
    <p><strong>Description:</strong> @Issue.Description</p>
</div>

@* <a href="/issues/@ProjectId" class="btn btn-secondary">Back to List</a> *@
@* <a href="/issues/edit/@ProjectId/@IssueIid" class="btn btn-warning">Edit</a> *@


<!-- #region Dialogs-->
@if (_editDialog)
{

    <div class="dialog" style="display:@ModalDisplay">
        <EditForm>
            <div class="col-md-3">
                <InputText id="title" @bind-Value="Issue.Title" class="form-control" placeholder="عنوان را وارد کنید" tabindex="1" required />
            </div>
            <div class="col-md-3">
                <InputText id="description" @bind-Value="Issue.Description" class="form-control" placeholder="توضیحات را وارد کنید" tabindex="2" required />
            </div>
            <div class="col-md-6">
                <select multiple class="form-control" style="height:200px;" @onchange="OnSelectionChanged">
                    @foreach (var labelName in Labels)
                    {
                        <option value="@labelName" selected="@SelectedLabels.Contains(labelName)">@labelName</option>
                    }
                </select>
            </div>
            <div class="col-md-3">
                <select @bind="Issue.MileStoneId">
                    <option value="">-- انتخاب کنید --</option>
                    <option value="1">باز</option>
                    <option value="2">بسته</option>
                </select>
            </div>
            <div class="col-md-3">
                <select @bind="Issue.AssigneeId">
                    <option value="">-- انتخاب کنید --</option>
                    <option value="1">باز</option>
                    <option value="2">بسته</option>
                </select>
            </div>
            <div class="col-md-3">
                <select @bind="Issue.AssigneeIds">
                    <option value="">-- انتخاب کنید --</option>
                    <option value="1">باز</option>
                    <option value="2">بسته</option>
                </select>
            </div>
            <div class="col-md-3">
                <select @bind="Issue.AuthorId">
                    <option value="">-- انتخاب کنید --</option>
                    <option value="1">باز</option>
                    <option value="2">بسته</option>
                </select>
            </div>
            <div class="col-md-3">
                <select @bind="Issue.State">
                    <option value="">-- انتخاب کنید --</option>
                    <option value="1">باز</option>
                    <option value="2">بسته</option>
                </select>
            </div>
            <div class="col-md-3">
                <InputNumber id="projectId" @bind-Value="Issue.ProjectId" class="form-control" placeholder="شناسه پروژه را وارد کنید" tabindex="1" required />

            </div>

            <button @onclick="SubmitEditDialog" class="btn btn-success">تایید</button>
            <button @onclick="CloseEditDialog" class="btn btn-close">انصراف</button>
        </EditForm>
    </div>
}


<!-- #endregion -->



<style>
    * {
        direction: rtl;
    }

    .director {
        direction: rtl;
    }

    .btn {
        min-width: 80px;
    }

    .dialog {
        z-index: 1000;
        max-width: 500px;
        max-height: 700px;
        justify-content: center;
        align-items: center;
    }

    /* .form-group { */
    /*     position: relative; */
    /*     margin-bottom: 1.5rem; */
    /* } */

    .validation-message {
        position: absolute;
        max-width: 230px;
        font-size: 14px;
    }

    /* .form-control:invalid { */
    /*     border-color: red; */

    /* } */
</style>
